@font-face {
    font-family: ps-bold;
    src: url(../fonts/Gilroy/Gilroy-Bold/gilroy-bold-webfont.woff)
}

@font-face {
    font-family: ps-extrabold;
    src: url(../fonts/Gilroy/Gilroy-ExtraBold/gilroy-extrabold-webfont.woff)
}

@font-face {
    font-family: ps-light;
    src: url(../fonts/Gilroy/Gilroy-light/gilroy-light-webfont.woff)
}

@font-face {
    font-family: ps-medium;
    src: url(../fonts/Gilroy/Gilroy-Medium/gilroy-medium-webfont.woff)
}

@font-face {
    font-family: ps-regular;
    src: url(../fonts/Gilroy/Gilroy-Regular/gilroy-regular-webfont.woff)
}

@font-face {
    font-family: ps-semibold;
    src: url(../fonts/Gilroy/Gilroy-SemiBold/gilroy-semibold-webfont.woff)
}

*{
    font-family: ps-medium;
}
.main-container{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #EBEFF3;
}

.home-div{
    width: 550px;
    background-color: white;
    float: left;
    box-shadow: 0 1.267198085784912px 1.267198085784912px #666d8014, 0 5.068792343139648px 10.137584686279297;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

.userName-active{
    width: 100%;
    float: left;
}
.userName-active h1{
    color:#363849;
    width: 60%;
    float: left;
    font-size: 20px;
    font-weight: 500;
}

#active{
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #A4ABB8;
}

.userName-active p{
    background-color: #D0FADF;
    width: 30%;
    float: left;
    text-align: center;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    color:#049753;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 14px;
}

.name-profile{
    width: 100%;
    float: left;
    margin-top: 20px;
}

.name-profile-left{
    width: 70%;
    float: left;

}

.name-profile-left h2{
    color: #363849;
    font-size: 36px;

}



.name-profile-right{
    width: 20%;
    float: left;
}

.name-profile-right img{
    width: 100%;
    float: left;
    padding: 5px;
    border: solid #f9f9f9 2px;
    border-radius: 100%;
    margin-top: 40px;
}

.name-profile-left p{
    color: #666D80;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.name-profile-left a{
    margin-left: 5px;
  text-decoration: none;
}

#darkBtn{
    background-color: #000;
        height: 100%;
        border-radius: 6px;
        box-shadow: 0px 1px 1px 0px rgba(102, 109, 128, 0.08),0px 4px 8px 0px rgba(102, 109, 128, 0.2),0px 0px 0px 0px var(--token-17aea52f-75cc-4210-9cfa-54c6a6e98e8e, rgb(255, 255, 255)),0px 0px 0px 0px rgba(53, 56, 73, 0.16);
        opacity: 1;
        color: white;
        padding: 10px;
        float: left;
        width: 100px;
        border: none;
        cursor: pointer;
        border: solid #000;
}
.btn{
    margin-top: 40px;
    width: 100%;


}
#darkIcon{
    float: left;
    opacity: 0.6;
}

#lightBtn{
    background-color: #fff;
        height: 100%;
        border-radius: 6px;
        box-shadow: 0px 1px 1px 0px rgba(102, 109, 128, 0.08), 0px 4px 8px 0px rgba(102, 109, 128, 0.2), 0px 0px 0px 0px var(--token-17aea52f-75cc-4210-9cfa-54c6a6e98e8e, rgb(255, 255, 255)), 0px 0px 0px 0px rgba(53, 56, 73, 0.16);
        opacity: 1;
        color: #000;
        padding: 10px;
        float: left;
        width: 120px;
        border: solid #f9f9f9;
        cursor: pointer;
        margin-left: 10px;
}

.projects{
    background-color: #F6F8FA;
    width: 100%;
    margin-top: 40px;
    float: left;
    margin-left: -3.5%;
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.ListOfProjects{
    width: 93%;
    float: left;
    box-shadow: 0px 1px 1px 0px rgba(102, 109, 128, 0.08),
            0px 4px 8px 0px rgba(102, 109, 128, 0.08),
            0px 0px 0px 0px var(--token-17aea52f-75cc-4210-9cfa-54c6a6e98e8e, rgb(255, 255, 255)),
            0px 0px 0px 3px rgba(53, 56, 73, 0);
       background-color: white;
       padding: 20px;
 border-radius: 8px;
 margin-top: 15px;
 height: auto;
 padding-top: 15px;
}

.projectImg{
    width: 50px;
    float: left;
    height: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
    border: solid #f9f9f9 2px;
}

.projectName{
    width: 60%;
    float: left;
    padding-left: 20px;
}

.projectView{
    width: 100%;
    float: left;
    justify-content: right;
    opacity: 0.7;
}

#overview{
    font-size: 16px;
    color:rgb(102, 109, 128);
    font-weight: 400;
    margin-top: -10px;
}

.projectImg img{
    width: 100%;
    float: left;
    border-radius: 100px;
    object-fit: contain;
}

#name{
    font-weight: 600;
    color: rgb(53, 56, 73);
    font-size: 18px;
    margin-top: 5px;
}

#next{
    font-size: 30px;
    color: #f9f9f9;
    text-align: right;
    float:right;
    margin-top: 15px;
    opacity: 0.2;
}

.connect{
    margin-top: 40px;
    width: 100%;
    float: left;
    text-align: center;
}

.connect  h3{
    font-size: 40px;
    color: rgb(53, 56, 73);
}

.connect p{
    color: rgb(102, 109, 128);
   margin-top: -20px;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}
.btnCnt{
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.social{
background-color: rgb(246, 248, 250);
    padding: 20px;
        float: left;
        width: 94%;
        margin-top: 40px;
        border-radius: 8px;
        margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
.home-div {
        width: 100%;
        background-color: white;
        float: left;
        box-shadow: 0 1.267198085784912px 1.267198085784912px #666d8014, 0 5.068792343139648px 10.137584686279297;
        border-radius: 10px;
        margin: 0px;
        padding: 20px;
    }
        .userName-active{
            width: 100%;
            float: left;
        }
 .userName-active h1 {
    color: #363849;
     width: 100%;
    float: left;
    font-size: 20px;
    font-weight: 500;
                }
        .userName-active p{
            width: 50%;
            float: left;
            margin-left: 0px;
        }
        .name-profile{
            margin-top: 0px;
        }

#lightBtn {
    background-color: #fff;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 0px rgba(102, 109, 128, 0.08), 0px 4px 8px 0px rgba(102, 109, 128, 0.2), 0px 0px 0px 0px var(--token-17aea52f-75cc-4210-9cfa-54c6a6e98e8e, rgb(255, 255, 255)), 0px 0px 0px 0px rgba(53, 56, 73, 0.16);
    opacity: 1;
    color: #000;
    padding: 10px;
    float: left;
    width: 120px;
    border: solid #f9f9f9;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0px;
}
.projects{
    padding: 10px;
    background-color: #fff;
}
.ListOfProjects {
    width: 89%;
height: auto;
padding-top: 20px;
padding-bottom: 0px;
}
}

.skills img{
    width: 80px;
    float: left;
}

#type{
    font-weight: 700;
}